/* basic modal styles */

.modal {
  background-color: transparent;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  left: 50%;
  margin: initial;
  padding: 0;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal[open] {
  display: flex;
}

.modal-container {
  background-color: white;
}

/* modal keyframe animation */

.modal {
  animation: fade-out 0.3s ease-out;
}

.modal[open] {
  animation: fade-in 0.3s ease-out;
}

.modal[open]::backdrop {
  animation: backdrop-fade-in 0.3s ease-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0%);
  }

  100% {
    background-color: rgb(0 0 0 / 25%);
  }
}

/* custom modal styles */

/* default modal */

.default-modal {
  border-radius: 8px;
}

.default-modal-container {
  border-radius: 8px;
  padding: 24px;
}

.default-modal h2 {
  margin-top: 0;
}

/* fullscreen modal */

.full-screen-modal {
  background-color: white;
  bottom: 0;
  box-shadow: none;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  overflow: hidden;
  right: 0;
  top: 0;
  width: 100%;
  transform: none;
}

.full-screen-modal-container {
  background-color: transparent;
  height: auto;
  overflow-y: auto;
  padding: 40px;
  width: 100%;
}

.full-screen-modal-container h2 {
  margin-top: 0;
}
